.card_pruducts {
  padding: 20px;
  width: 80%;
  margin: 0 auto;
}
.custom-card-body {
  height: 100%;
  width: 55rem;
}
.product {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.search_card {
  display: flex;
  gap: 10px;
  align-items: center;
}
.search_card img {
  margin: 0 auto;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.custom-navbar2 {
  background-color: #fff; /* Đổi màu nền */
  border-radius: 10px; /* Bo góc navbar */
  /* border: solid 2px; */
  border-color: rgb(116, 116, 236);
  /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); */
}
.card_navar {
  width: 20%;
}
.card_slide {
  display: flex;
  flex-direction: row;
}
.review_table .card_navar {
  width: 50%;
}
.product_table {
  flex-grow: 1; /* Allow this section to take up the remaining space */
  padding: 70px 10px;
}
h1 {
  color: gray; /* Màu chữ */
  font-weight: bold; /* Làm chữ đậm */
  font-size: 20px; /* Kích thước chữ lớn */
  margin-bottom: 10px; /* Khoảng cách dưới */
  text-transform: uppercase; /* Chuyển tất cả chữ thành in hoa */
  letter-spacing: 2px; /* Khoảng cách giữa các chữ */
  line-height: 1.2; /* Khoảng cách giữa các dòng */
  font-family: "Arial", sans-serif; /* Đặt font chữ */
}
.card_text2 {
  display: flex;

  justify-content: space-between;
  padding: 10px 0px 10px 20px;
}
.add_button img {
  height: 15px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-center {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-item-custom {
  margin-right: 50px; /* Điều chỉnh khoảng cách giữa các mục */
}
