@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
.table-container {
  overflow-y: auto; /* Kích hoạt cuộn dọc khi nội dung vượt quá chiều cao */

  border-radius: 16px;
  font-family: "Arial", sans-serif; /* Font chữ cho toàn bộ bảng */
  font-size: 1.2rem;
  text-align: center;
  padding-left: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  padding: 12px 15px;
  text-align: center;
  font-size: 15px;
  border-bottom: 1px solid #ddd;
  font-family: "Open Sans", sans-serif;
}

thead th {
  position: sticky;
  top: 0; /* Giữ hàng tiêu đề ở đầu khi cuộn */
  background-color: rgb(220, 220, 220);
  color: #000;
  z-index: 2; /* Đảm bảo tiêu đề luôn hiển thị trên các dòng */
}

/* Style cho các hàng */
tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #ddd;
}
img {
  height: 50px;
  width: 50px;
}
.card_button {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.form-container {
  margin-top: 20px;
}

.form-container div {
  margin-bottom: 10px;
}

.form-container label {
  display: block;
  font-weight: bold;
}

.Modalbody input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 10px;
  border: 1px solid #ddd;
  background-color: white;
}
.delete_icon img {
  height: 20px;
}
.more_svg {
  margin-right: 40px;
  display: flex;
  justify-content: flex-end;
  height: 20px;
}
.more_svg img {
  height: 20px;
}
header {
  max-width: 100%;
}
.nava_product {
  display: flex;
  padding-left: 5px;
  gap: 5px;
  align-items: center;
}
.nava_product img {
  width: 20px;
}
/* Media query to hide the Import & Export options */
@media (max-width: 666px) {
  .card_button {
    display: none; /* Hide Import & Export buttons */
  }
  .import-export-mobile {
    display: none;
  }
  .dropdown-responsive {
    display: inline-block; /* Show the dropdown */
  }
  .more_svg {
    margin-right: -15px;
    display: flex;
    justify-content: flex-end;
    height: 20px;
  }
  .more_svg img {
    max-width: 50px;
    margin-left: -40px;
  }
  .card_text2 {
    display: block;
    width: 20px;
  }
  .add_button button {
    background-color: #aaafaa;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .table-container {
    padding: 5px;
  }

  .search_card {
    width: 100%; /* Cho input chiếm toàn bộ chiều rộng */
  }

  .search_card input {
    width: 100%;
    max-width: 100%; /* Đảm bảo input không bị tràn khỏi màn hình */
    font-size: 14px; /* Giảm kích thước chữ cho mobile */
  }
  .none {
    display: none;
  }
  .button_prd Button {
    font-size: 8px;
  }
}
