.navbar-container {
  display: none;
}
/* Responsive cho iPad */
@media (max-width: 768px) {
  .navbar-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar-container ul {
    display: flex;
    gap: 5px;
  }
  .card_navar {
    display: none;
  }
  .navbar-container ul li {
    padding: 8px 16px;
  }

  .navbar-container ul li a {
    color: gray;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar-container ul li a:hover {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
  }
  .navbar-container ul li a.active {
    color: gray; /* Màu chữ khi "active" */
    font-weight: bold; /* Chữ đậm khi active */
    background-color: #f0f0f0; /* Thêm nền nếu muốn */
    border-bottom: 4px solid gray; /* Đường viền bên trái khi active */
    border-radius: 5px;
  }
}

/* Responsive cho màn hình di động */
@media (max-width: 576px) {
  .side-nav ul {
    display: flex;
  }
  .side-nav {
    position: static;
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
  }
}
