.setting_body {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: 40px;
  width: 75%;
}

.setting_card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
